<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccer.match.dao.MatchMapper">
 
 	<select id="selectMatchCount" resultType="int">
 		SELECT 
 			count(*)
		FROM
			`match`
 	</select>
 
 	<select id="selectMatchById" parameterType="int" resultType="com.soccer.match.domain.Match">
 		SELECT 
 			`id`
			,`teamId`
			,`reservationId`
			,`title`
			,`price`
			,`content`
			,`state`
			,`createdAt`
			,`updatedAt`
		FROM
			`match`
		WHERE 
			`id` = #{id}
 	</select>
 
 	<select id="selectMatch"  resultType="com.soccer.match.domain.Match">
 		SELECT 
 			`id`
			,`teamId`
			,`reservationId`
			,`title`
			,`price`
			,`content`
			,`state`
			,`createdAt`
			,`updatedAt`
		FROM
			`match`
		ORDER BY `id` DESC;
 	</select>
 	
 	<select id="selectMatchByTeamId" parameterType="int" resultType="com.soccer.match.domain.Match">
 		SELECT 
 			`id`
			,`teamId`
			,`reservationId`
			,`title`
			,`price`
			,`content`
			,`state`
			,`createdAt`
			,`updatedAt`
		FROM
			`match`
		WHERE 
			`teamId` = #{teamId}
 	</select>
 	
 	<select id="selectMatchByReservationId" parameterType="int" resultType="com.soccer.match.domain.Match">
 		SELECT 
 			`id`
			,`teamId`
			,`reservationId`
			,`title`
			,`price`
			,`content`
			,`state`
			,`createdAt`
			,`updatedAt`
		FROM
			`match`
		WHERE 
			`reservationId` = #{reservationId}
 	</select>
 	
 	<select id="selectMatchByReservationIdOne" parameterType="int" resultType="com.soccer.match.domain.Match">
 		SELECT 
 			`id`
			,`teamId`
			,`reservationId`
			,`title`
			,`price`
			,`content`
			,`state`
			,`createdAt`
			,`updatedAt`
		FROM
			`match`
		WHERE 
			`reservationId` = #{reservationId}
 	</select>
 	
 	<select id="selectMatchForPaging" parameterType="map"  resultType="com.soccer.match.domain.Match">
 		SELECT 
 			`id`
			,`teamId`
			,`reservationId`
			,`title`
			,`price`
			,`content`
			,`state`
			,`createdAt`
			,`updatedAt`
		FROM
			`match`
		ORDER BY `id` DESC
		LIMIT #{startPage}, #{POST_MAX_SIZE}
 	</select>
 	
 	<select id="selectMatchByTeamIdForPaging" parameterType="map"  resultType="com.soccer.match.domain.Match">
 		SELECT 
 			`id`
			,`teamId`
			,`reservationId`
			,`title`
			,`price`
			,`content`
			,`state`
			,`createdAt`
			,`updatedAt`
		FROM
			`match`
		WHERE
			`teamId` = #{teamId}
		ORDER BY `id` DESC
		LIMIT #{startPage}, #{POST_MAX_SIZE}
 	</select>
 	
 	<insert id="insertMatch" parameterType="map">
 		INSERT INTO `match`
 		(
 			`teamId`
			,`reservationId`
			,`title`
			,`price`
			,`content`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{teamId}
 			, #{reservationId}
 			, #{title}
 			, #{price}
 			, #{content}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<update id="updateMatchById" parameterType="map">
 		UPDATE `match`
 		SET `title` = #{title},`price` = #{price},`content` = #{content}
 		WHERE `id` = #{id}
 	</update>
 	
 	<update id="updateMatchByIdState" parameterType="map">
 		UPDATE `match`
 		SET `state` = '매칭완료'
 		WHERE `id` = #{id}
 	</update>
 	
 	
 	<delete id="deleteMatchByReservationId" parameterType="int">
 		DELETE FROM `match`
 		WHERE 
 		 	`reservationId` = #{reservationId}
 	</delete>
 
 </mapper>
 
 
 
 
 