<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccer.team.dao.TeamMapper">
 	<select id="selectTeam" resultType="com.soccer.team.domain.Team">
 		SELECT
 	 		`id`
			,`name`
			,`leaderId`
			,`introduce`
			,`profileImagePath`
			,`skill`
			,`rating`
			,`activeArea`
			,`createdAt`
			,`updatedAt`
		FROM
			`team`
 	</select>
 
 
 	<select id="selectTeamByName" parameterType="String" resultType="com.soccer.team.domain.Team">
 	 	SELECT
 	 		`id`
			,`name`
			,`leaderId`
			,`introduce`
			,`profileImagePath`
			,`skill`
			,`rating`
			,`activeArea`
			,`createdAt`
			,`updatedAt`
		FROM
			`team`
		WHERE
			`name` = #{name}
 	</select>
 	
 	<insert id="insertTeam" parameterType="map">
 		INSERT INTO `team`
 		(
			`name`
			,`leaderId`
			,`introduce`
			,`skill`
			,`activeArea`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{teamName}
 			, #{leaderId}
 			, #{introduce}
 			, #{skill}
 			, #{activeArea}
 			, NOW()
 			, NOW()
 		)
 		
 		<selectKey keyProperty="newTeamId" resultType="int" order="AFTER">
        	SELECT LAST_INSERT_ID()
   		</selectKey>
 	</insert>
 	
 	<update id="updateTeamByTeamId" parameterType="map">
 		UPDATE `team`
 		SET
 			`name` = #{teamName}
 			, `introduce` = #{introduce}
 			, `skill` = #{skill}
 			, `activeArea` = #{activeArea}
 			, `profileImagePath` = #{profileImagePath}
 		WHERE 
 			`id` = #{teamId}
 		
 	</update>
 
 </mapper>
 
 
 
 
 
 
 
 
 