<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.soccer.user.dao.UserMapper">
 	<select id="selectUserByTeamIdAndRole" parameterType="map" resultType="com.soccer.user.domain.User">
 		SELECT
 			`id`
 			, `teamId`
			,`email`
			,`password`
			,`name`
			,`loginType`
			,`role`
			,`kakaoKey`
			,`profileImagePath`
			,`phoneNumber`
			,`birth`
			,`position`
			, `mail_check`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`teamId` = #{teamId}
		AND
			`role` = #{role}
 	</select>
 
 	<select id="selectUserByEmail" resultType="com.soccer.user.domain.User">
 		SELECT
 			`id`
 			, `teamId`
			,`email`
			,`password`
			,`name`
			,`loginType`
			,`role`
			,`kakaoKey`
			,`profileImagePath`
			,`phoneNumber`
			,`birth`
			,`position`
			, `mail_check`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`email` = #{loginEmail}
 	</select>
 	
 	<select id="selectUserById" parameterType="int" resultType="com.soccer.user.domain.User">
 	 	SELECT
 			`id`
 			, `teamId`
			,`email`
			,`password`
			,`name`
			,`loginType`
			,`role`
			,`kakaoKey`
			,`profileImagePath`
			,`phoneNumber`
			,`birth`
			,`position`
			, `mail_check`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{id}
 	</select>
 	
 	<select id="selectUserByLoginEmailPassword" parameterType="map" resultType="com.soccer.user.domain.User">
 	 	SELECT
 			`id`
 			, `teamId`
			,`email`
			,`password`
			,`name`
			,`loginType`
			,`role`
			,`kakaoKey`
			,`profileImagePath`
			,`phoneNumber`
			,`birth`
			,`position`
			, `mail_check`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`email` = #{loginEmail}
		AND
			`password` = #{password}
 	</select>
 	
 	<select id="selectCertificationByEmailNum" parameterType="map" resultType="com.soccer.user.domain.Certification">
 	 	SELECT
 	 		`id`
			,`email`
			,`randNumber`
		FROM
			`certification`
		WHERE
			`email` = #{loginEmail}
		AND 
			`randNumber` = #{code}
 	</select>
 	
 	<select id="selectUserByLoginEmailName" parameterType="map" resultType="com.soccer.user.domain.User">
 		SELECT
 			`id`
 			, `teamId`
			,`email`
			,`password`
			,`name`
			,`loginType`
			,`role`
			,`kakaoKey`
			,`profileImagePath`
			,`phoneNumber`
			,`birth`
			,`position`
			, `mail_check`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`email` = #{loginEmail}
		AND
			`name` = #{name}
 			
 	</select>
 	
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO `user`
 		(
 			`email`
			,`password`
			,`name`
			,`loginType`
			,`phoneNumber`
			,`birth`
			,`position`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{loginEmail}
 			,#{password}
 			,#{name}
 			,#{loginType}
 			,#{phoneNumber}
 			,#{birth}
 			,#{position}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	
 	<insert id="insertCertification" parameterType="map">
 		INSERT INTO `certification`
 		(
			`email`
			,`randNumber`
 		)
 		VALUES
 		(
 			#{loginEmail}
 			,#{code}
 		)
 	</insert>
 	
 	<update id="updateUserByNameLoginEmail" parameterType="map">
 		UPDATE `user`
 		SET `password` = #{hashedCode}
 	</update>
 	
 	<update id="updateUserTeamIdAndRoleById" parameterType="map">
 		UPDATE `user`
 		SET `teamId` = #{teamId} , `role` = #{role}
 		WHERE `id` = #{leaderId}
 	</update>
 	
 	<update id="updateUserTeamIdRoleNull" parameterType="int">
 		UPDATE `user`
 		SET `teamId` = null , `role` = null
 		WHERE `id` = #{userId}
 	</update>
 	
 	<update id="updateUserById" parameterType="map">
 		UPDATE `user`
 		SET 
 			`name` = #{name} 
 			, `phoneNumber` = #{phoneNumber}
 			, `birth` = #{birth}
 			, `position` = #{position}
 			, `profileImagePath` = #{profileImagePath}
 			, `profileImagePath` = #{profileImagePath}
 			<if test="hashedPassword != null">
 			, `password` = #{hashedPassword}
 			</if>
 		WHERE `id` = #{userId}
 	</update>
 	
 	<delete id="deleteByEmail" parameterType="String">
 	 	DELETE FROM `certification`
 	 	WHERE 	`email` = #{loginEmail}
 	</delete>
 	
 	
 	
 	
 </mapper>