@charset "UTF-8";
header{
    height: 120px;
}

.content{
    min-height: 500px;
}

footer{
	background-color: #333;
	color: white;
    height: 50px;
}

.logoName{
    font-family: fantasy;
    font-size: 60px;
    text-decoration: none;
    color: black;
}
.font-fantasy{
	font-family: fantasy;
}

.logoName:hover{
    color: black;
    font-size: 60px;
    font-family: fantasy;
    text-decoration: none;
  }
  
.commentDate{
	font-size: 10px;
}


body{
    font-size: 14px;
    font-family: sans-serif;
}

/* 메뉴관리 css */
.menu nav{
    font-size: 10pt;
    font-family: Arial, Sans-serif;
    position: relative;
}
.menu nav ul{
    padding: 0;
    margin: 0 auto;
    width: auto;
}

td a{
	 box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #00A5FF;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
}

td a:hover{
	color: #00A5FF;
	font-size:16px;
    font-weight:bold;
    text-decoration: none;
}

.menu nav li a{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menu nav ul{
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
  }
 
.menu nav li a{
    color: #FFFFFF;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
  }
.menu nav li a:hover{
    color: #FFD400;
    font-weight:normal;
}
  
.menu {
   text-align: center;
   background-position: center;
   background-size: cover;
   background-color: #333333;color: white;
 }

 .loginBtn{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
 }

.loginBtn:hover{
    color: #FFD400;
    font-weight:normal;
    text-decoration: none;
  }
  
  
 /* 회원가입 css */
 #certificationBtn, #certificationCheckBtn, #emailCheckBtn{
	 font-size: 12px;
 }
 
input::placeholder, textarea {
  font-size : 12px;
  color: gray;
  font-style: italic;
}

select option[value=""][disabled] {
	display: none;
	font-size : 14px;
  	color: gray;
  	font-style: italic;
}

select option{
  font-size : 14px;
  color: gray;
  font-style: italic;
}

select{
	font-size : 14px;
  color: gray;
  font-style: italic;
}


/* 글꼴 */
.gothic-font {
    font-family: 'Gothic', sans-serif; /* 'Gothic'은 원하는 고딕체의 이름입니다. */
 }
 
.exo{
	font-family: 'Exo', sans-serif;
	font-size: 55px
 }
 
 
#stadiumMap {
 	height: 18px;
 	width: 38px;
 	font-size: 10px;
 }
 
 
 
 /* 마이페이지 메뉴바 */
ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current{
  background: #ededed;

}

.tab-content{
  display: none;
  padding: 15px;
}

.tab-content.current{
  display: inherit;
}
 
 
 

 